.titulo {
	background: rgba(255,255,255,.6);
	border-radius: 5px;
	display: inline;
}

.texto-blanco {
	background: rgba(255,255,255,.6);
	border-radius: 5px;
}

.ajustar-imagen-modal {
	width: 100%;
}

.ajustar-descripcion {
	width: 40%;
	left: 58%;
	right: 0%;
	bottom: 5%;
}

.reducir-ancho {
	width: 33%;
	left: 65%;
	bottom: 0%;
}

.text {
	font-size: 16px;
	margin: 0;
	padding: 0;
}